<div class="countainer">
  <h1>Calculadora</h1>

  <form>
    <div class="inputs">
      <div class="number">
        <p>Primeiro número</p>
        <input type="number" [(ngModel)]="num1" name="num1">
      </div>

      <p>{{operator}}</p>

      <div class="number">
        <p>Segundo número</p>
        <input type="number" [(ngModel)]="num2" name="num2">
      </div>
    </div>

    <div class="btn">
      <div class="btnLine">
          <button (click)="sum()">+</button>
          <button (click)="sub()">-</button>
      </div>
      <div class="btnLine">
        <button (click)="mult()">X</button>
        <button (click)="div()">÷</button>
      </div>
    </div>

    <div class="result">
      <p>{{result}}</p>
    </div>
  </form>
</div>
