.countainer{
  background-color: #a1a1a1;
  margin: auto;
  width: 50%;
  padding: 10px;
  border-radius: 35px;
}

.countainer p{
  text-align: center;
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
}

.number p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.number input{
  color: rgb(0, 0, 0);
  background-color: rgb(154, 255, 179);
  font-family: 'Techno LCD';
  font-size: 20px;
  border-radius: 10px;
  width: auto;
  padding: 10px;
  border: 0px;
}

.operator{
  background-color: rgb(154, 255, 179);
  margin-left: 10px; margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.btn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button{
  margin-left: 10px;
  width: 70px;
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
  border: 0px;
}

.result{
  display: flex;
  justify-content: center;
}

.display{
  background-color: #000000;
  width: 30%;
  margin-top: 10px;
  padding-left: 20px;
  border-radius: 10px;
}

.display p{
  color: white;
  font-size: 20px;
  text-align: justify;
}
